---
import Layout from "../layouts/Layout.astro";

import { urlForImage } from "../sanity/urlForImage.js";
import Footer from "../components/Footer.astro";
import { DropdownPage } from "../components/Dropdown";
import { useSanityClient } from "astro-sanity";
const series = await useSanityClient().fetch(`*[_type == "series"][1]`);
import MasonryComponent from "../components/MasonryComponent";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="max-w-[1500px] flex flex-col justify-end m-auto h-screen">
      <div class="h-16"></div>
      <div class="m-auto px-4 flex justify-center items-center">
        {
          (
            <div class="flex gap-2">
              {series.photos?.map((image: any, index: number) => (
                <div class="">
                  <img
                    class="w-[700px]"
                    src={`${urlForImage(image).width(500).height(500).url()}`}
                  />
                </div>
              ))}
            </div>
          )
        }
        <div class=""></div>
      </div>

      <Footer />
    </div>
  </main>
</Layout>
